[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
django = "*"
django-filter = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-yasg = "*"
gunicorn = "*"
djangorestframework-camel-case = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"
model-mommy = "*"
djoser = "*"
pyyaml = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
